.header-container,
.about-container,
.project-container,
.contact-container {
  margin: 0;
  padding: 170px 0 200px;
}

/* Heading Font */
h1,
h2 {
  font-family: "Lilita One", serif;
}
/* Text Font */

.card-body,
h4,
.form-label,
.left h3 {
  font-family: "Gloria Hallelujah", serif;
}

/* header and image styling */
h1 {
  font-size: 92px;
  text-shadow: 4px 2px 4px #ff6969;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgb(0, 0, 0);
}

.title {
  font-size: 60px;
}

/* Smaller heading styling */
h2 {
  font-size: 62px;
  padding: 0px 0px 40px;
}
/* About Me Sections */
.card {
  background-color: #bbffca;
  box-shadow: 0 4px 6px #f30a48, 0 5px 7px #000000;
}
.card-body {
  font-weight: 400;
  font-style: normal;
}

h4 {
  font-size: 80px;
}

.project-title {
  text-shadow: 2px 2px 3px #62faff;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: hsl(275, 100%, 78%);
}

.about-title {
  text-shadow: 2px 2px 3px #f1ff52;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #85fbff;
}

.contact-title {
  text-shadow: 2px 3px 4px #e9d8fd;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #a1f6ff;
}
/* Contact form  */
.form-area {
  padding-top: 10px;
}

.row.single-form {
  box-shadow: 0 2px 20px -5px rgba(0, 0, 0, 0.5);
  background-color: #cff4fc;
}

.left {
  padding: 200px 98px;
}

.left h3 {
  color: #f87171;
  font-weight: 700;
  font-size: 48px;
}

.right {
  padding: 90px 100px;
  position: relative;
}

.form-control {
  border: 2px solid #000000;
}

.right button {
  border: none;
  border-radius: 3;
  background: #f87171;
  width: 140px;
  color: #000000;
  padding: 15px 0;
  display: inline-block;
  font-size: 16px;
  margin-top: 20px;
}

.right button:hover {
  background-color: #e9d8fd;
}

i {
  color: #e9d8fd;
}
/* Media queries for responsiveness */
/* @media (max-width: 800px) {

@media (max-width: 600px) {
  */

/* Bootstrap colors */
.bg-red-400 {
  background-color: #f87171; /* Red-400 color */
}
.text-red-400 {
  color: #f87171;
}
.bg-cyan-100 {
  background-color: #cff4fc; /* Cyan-100 color */
}

/* Yellow-300 color */
.yellow-bg {
  background-color: #ffed4a;
}
.yellow-text {
  color: #ffed4a;
}
/* Purpl-200 color */
.purple-bg {
  background-color: #e9d8fd;
}
